<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>V6Z</title>

<!-- Javascript Includes -->
<script type="text/javascript" src="/scripts/jquery-1.6.4.js"></script>
<script type="text/javascript" src="/scripts/json2.js"></script>
<script type="text/javascript" src="/scripts/underscore.js"></script>
<script type="text/javascript" src="/scripts/backbone.js"></script>
<script type="text/javascript" src="/scripts/jquery.cookie.js"></script>

<!-- Stylesheets -->
<link rel="stylesheet" href="/styles/default.css">

<!-- Local Javascript -->
<%- jsFilesHTML %>

</head>

<body>

<div id="login-view" class="view"></div>
<div id="home-view" class="view"></div>

<!-- Templates -->
<div id="templates">
<%- templates %>
</div

<!-- Preloaded data -->
<script>
</script>

</body>
</html>

